/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: Inter;
}

/* Body */
body {
    min-height: 100vh;
    background-color: var(--Negro-Opaco);
}

/* Lists */
ul {
    list-style-type: none;
}

/* Links */
a {
    text-decoration: none;
}

/* Containers */
.contenedor {
    height: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cards */
.tarjeta {
    width: 327px;
    background-color: var(--Gris-Oscuro);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto 20px auto;
}

.tarjeta,
#redes-sociales a {
    color: var(--Blanco);
}

/* Image Container */
.image-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Figures */
figure img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

/* Headings */
h2,
h4 {
    font-weight: 400;
}

h4 {
    color: var(--Verde);
    font-size: 14px;
    margin: 7px 0;
}

/* Paragraphs */
p {
    font-weight: 400;
    font-size: 14px;
    margin: 25px 0;
}

/* Social Links */
#redes-sociales li a {
    display: block;
    background-color: var(--Gris);
    padding: 16px 0;
    font-size: 14px;
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

#redes-sociales li a:hover {
    background-color: green;
    color: var(--Negro-Opaco);
    font-weight: 600;
}

#redes-sociales li:not(:last-child) {
    margin-bottom: 16px;
}

/* Media Query */
@media (min-width: 576px) {
    .tarjeta {
        width: 386px;
        padding: 40px;
    }
}
